*{
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;

}
body{
    font-family: sans-serif;
    margin:0;
    
}
img {
    max-width: 100%;
}
header{
    width: 100%;
    
    background-color:white;
    position:relative;
    border-bottom: 1px solid lightgray;
    
}
.main_header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px 0 15px;
}
.rel {
        position: relative;
        margin: 10px 0;
    }

.rel i{
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}
.rel input{
    padding-left: 35px;
    background-color: whitesmoke;
    border:1px solid lightgray;
    height:30px;
    border-radius:4px;
   width:100%;
}
.end{
    display: flex;
    justify-content: end;
    align-items: center;
}

.end h2{
    font-size: 12px;
    margin-left: 8px;
}
.end span{
    border-radius: 50px;
    background-color: pink;
    font-size:12px;
    text-align: center;
    padding: 5px;
    
    
}

h1{
    font-size: 15px;
    padding-left: 20px;
}
   

.main{
    width:100%;
}
.nav{
    float: left;
    overflow-y: scroll;
    height: 700px;
    background-color:whitesmoke;
    border:1px solid rgb(222, 222, 228);
    

}
ul{
    list-style-type:none;
    padding-left:15px;
    font-size:13px;
    line-height:25px;
}
ul li{
    font-size:15px;
    line-height: 30px;
    font-family: sans-serif;
    
}
ul i{
    margin-right:7px;
}
.drop .anal{
    display:none;
    
}
.drop:hover .anal{
    display: block;
    padding-left:25px;
}
.drop p:hover{
    color:darkgreen;
    background-color: rgb(237, 234, 234);
    
}
.d1{
    display: none;
}
.nav1{
    display: none;
    background-color:  lavender;
    width:100%;
    z-index: 4;
}

.item1{
    padding-left:5px;
    display: flex;
    margin-left:14px;
}
.item_001{
    display: flex;
    font-size: 13px;
    
    color:rgb(123, 123, 123);
   
}
.icon{
    display: flex;
    justify-content: end;
    padding-right:5px;
    margin-left:20px;
  }
.icon1{
    padding-left:20px;
    color:black;
    font-size:13px;
    display: flex;
    justify-content: end;
}
.h1{
    margin-left:15px;
}
.item{
    padding-left:25px ;
    display: none;
    position: absolute;
    font-size: 13px;
}

.dropdown:hover .item{
    display: block;
}
.dropdown p:hover{
    color:darkgreen;
    background-color: rgb(237, 234, 234);
}
.main_center{
    background-color: black;
    height:700px;
}
.center{
    
    
    background-color: black;
}
.line1{
    color:white;
    font-size:17px;
    padding-left:15px;
    height:30px;
}
.line1 p{
    display: inline-block;
    justify-content: left;
}
.line1 .date{
    color:rgb(171, 170, 170);
    font-size:12px;
}
.line2{
    color:rgb(238, 238, 238);
    font-size:13px;
}
.line2 p{
    display: inline-block;
  justify-content: left;
}
.ord{
    padding-left:15px;
    display: flex;
}
.ord .cir{
    color:rgb(163, 241, 233);
    font-size:7px;
    padding-right:8px;
}
.visi{
    padding-left:20px;
}
.visi .cir{
    color:blue;
    font-size:7px;
    padding-right:8px;
}

.line3 img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.line4 button{
    background-color:rgb(65, 65, 65) ;
    border-radius: 50px;
    border:1px solid rgb(65, 65, 65);
    
}
.line4 i{
    padding:7px;
    color:white;
}

.line4{
    display: inline-block;
    justify-content: left;
    margin:15px;
}
.line4 .but:hover{
    border:1px solid rgb(110, 110, 110);
    color:rgb(110, 110, 110);
   
    border-top-right-radius: none;
    display: inline-flex;

}
.line4 .select{
    background-color:rgb(65, 65, 65) ;
    color:white;
    border:1px solid rgb(65, 65, 65) ;
    border-radius: 50px;
    padding:5px;
}



.right{
  height:700px;
    background-color: black;
    position:relative;
    
}
.l1{
    height: 40px;
    color:rgb(184, 184, 184);
    font-size:15px;
}
.l1 p{
    display: inline-block;
    justify-content: left;
    padding-top:20px;
    padding-left:15px;
}
.l1 .two{
    padding-left: 40px;
    
}
.l2{
    color:white;
    height:55px;
   
}
.l2 p{
    display: inline-block;
    justify-content: left;
    font-size:25px;
}
.l2 .three{
    padding-left:15px;
}
.l2 .four{
    padding-left: 145px;
}
.l3{
    padding-left:175px;
    
}
.l4{
    color:rgb(184, 184, 184);
    height:40px;
    font-size:15px;
}
.l4 p{
    display: inline-block;
    justify-content: left;
    padding-top:20px;
    padding-left:15px;
}
.l4 .six{
    padding-left: 55px;
}
.l5{
    color:white;
    height:55px;
}
.l5 p{
    display: inline-block;
    justify-content: left;
   font-size:25px;
}
.l5 .seven{
    padding-left:15px;
}
.l5 .eight{
    padding-left: 145px;
}
.l6 p{
    display: inline-block;
}
.l6{
    padding-left: 15px;
    display: inline-block;
}
.l6 .r2{
    padding-left:20px;
}
.l7 {
    color:rgb(184, 184, 184);
    padding-left:15px;
    font-size:15px;
    height:130px;
}
.l7 .no{
    color:white;
    font-size:12px;
    text-align: center;
    padding-top:20px;
   
    
}
.l8{
    color:rgb(184, 184, 184);
    padding-left:15px;
    font-size:15px;
    height:150px;
   
    padding-top:2px;
}
.l8 .cust{
    color:white;
    font-size:12px;
    text-align:center;
    padding-top:20px;
    height:150px;
}
.l7:hover{
    background-color:rgb(48, 44, 44) ;
    border-radius: 5px;
}
.l8:hover{
    background-color:rgb(48, 44, 44) ;
    border-radius: 5px;
}




@media only screen and (max-width: 768px){
    .img_01{
         display: none; 
        visibility:hidden;
    } 
    .end{
        width: 16.66%;
    }
    .header_search{
        width: 66.66%;
    }
    .end h2{
        display: none;
    }
    .d1{
        display: block;
        
    }
    .main_center{
        width:100%;
    }
    .center{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .nav{
        display: none;
        height:200px;
       }
       .d1:hover ~ .nav1{
        display:block;
        width: 30%;
        height:700px;
        position: absolute;
        margin-top:98%;
        margin-left:-15px;
    }
    .line3 img{
        width:100%;
        height:70%;
       
    }
    .l7{
        width:50%;
    }
    .l8{
        width:50%;
    }
    
   
   
}
@media only screen and (max-width: 320px){
    .line1 .date{
        display: none;
    }
    .l6{
        padding:0;
    }
    
}


